@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
    --font-family: 'DM Serif Text', serif;
    --font-size: 1.5rem;
}

.menu, .grid, .fixed-grid {
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    font-size: 1rem;
    width: 70%;
    justify-self: center;
}