body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
    padding: 20px; 
    box-sizing: border-box; 
    flex-direction: column; 
}

body > header {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}

.login-container {
    max-width: 400px;
    width: 100%;
    margin-top: 80px;
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .login-container {
        padding: 10px;
    }
    .login-container .box {
        padding: 1.5rem; 
    }
}

